body {
margin: 0px;
padding: 0px;
}

#home {
position: fixed;
right: 15px;
top: 15px;
width: 35px;
height: 35px;
background-image: url(../1458563779_8.png);
background-size: cover;
display: inline-block;
-webkit-transition:1s, color .2s ease-out;
transition:1s, color .2s ease-out;
}

#home:hover {
background-image: url(../home_hover.png);
background-size: cover;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    margin-left: 30px;
}

#line1 {
margin-top: -10px;
border-top: 1px dashed #8c8b8b;
}

#line2 {
border-top: 1px solid #8c8b8b;
}

#intro {
padding: 40px 50px 40px 50px;
}

#text p {
font-family: 'Marck Script', cursive;
font-size: 17px;
margin-top: 0px;
}

#text {
width: 680px;
height: 400px;
margin-top: 0px;
margin-right: 50px;
float: right;
}

#mypic {
width: 250px;
height: 250px;
margin-top:25px;
margin-left: 25px;
float: left;
background-image: url(../me.jpg);
background-size: cover;
}

#frame {
border-style: solid;
border-width: 2px;
border-color: black;
width: 300px;
height: 300px;
margin-top: 0px;
margin-left: 80px;
}