body {
    margin: 0px;
    padding: 0px;
    background-color:black;
}

#background {
width: 100%;
height: 100%;
background-image: url(lilg_background.jpeg);
opacity: 0.3;
position: fixed;
z-index: -1;
background-size: cover;
}

#header {
width: 100%;
height: 200px;
background-image: url(lilg_header.png);
background-repeat: no-repeat;
background-position: center;
}

#home {
position: fixed;
right: 15px;
top: 15px;
width: 35px;
height: 35px;
background-image: url(1458563779_8.png);
background-size: cover;
display: inline-block;
-webkit-transition:1s, color .2s ease-out;
transition:1s, color .2s ease-out;
}

#home:hover {
background-image: url(home_hover.png);
background-size: cover;
}

hr {
margin-top: -20px;
background-color: #A00000;
border: none;
height: 1.5px;
}

#gif {
margin-left: 40px;
margin-top: 65px;
border: solid 1px;
color: white;
}

#intro {
width: 510px;
height: 320px;
float: right;
margin-top: 65px;
margin-right: 40px;
}

p {
font-family: 'Squada One', cursive; 
font-weight: 400;
color: white; 
font-size: 20px;
line-height: 150%;
}